<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwb.takeout.dao.OrderMasterMapper">
  <resultMap id="BaseResultMap" type="com.qwb.takeout.model.entity.OrderMaster">
    <constructor>
      <idArg column="order_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="buyer_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="buyer_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="buyer_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="buyer_openid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="order_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="pay_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="getOrderRequestMap" type="com.qwb.takeout.model.vo.OrderListVo" extends="BaseResultMap">
    <collection property="orderDetailList" resultMap="com.qwb.takeout.dao.OrderDetailMapper.BaseResultMap"/>
  </resultMap>
    <insert id="addOrderMaster">
      <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="orderId">
        SELECT  LAST_INSERT_ID()
      </selectKey>
        insert into order_master (buyer_name,buyer_phone,buyer_address,buyer_openid,order_amount,order_status,pay_status)
        value (#{buyerName},#{buyerPhone},#{buyerAddress},#{buyerOpenid},#{orderAmount},#{orderStatus},#{payStatus})
    </insert>

  <delete id="deleteOrderMasterById">
    delete from order_master where order_id = #{id}
  </delete>
  <update id="cancelOrderMaster">
    update order_master set order_status = 0 where order_id = #{orderId}
  </update>
  <update id="payOrder">
    update  order_master set pay_status = 1 where order_id = #{orderId}
  </update>
  <select id="findOrderMasterList" resultMap="BaseResultMap">
    SELECT * from order_master
    </select>
    <select id="findOrderMasterListByOpenid" resultMap="BaseResultMap">
    SELECT * from order_master where buyer_openid = #{buyerOpenId}
    </select>
  <select id="findOrderMasterById" resultMap="BaseResultMap">
    SELECT * from order_master where order_id = #{orderId}
  </select>

  <select id="findOrder" resultMap="getOrderRequestMap">
    SELECT
	*
    FROM
	order_master m
    LEFT JOIN order_detail d ON m.order_id = d.order_id
    WHERE d.order_id = #{orderId};
  </select>


</mapper>