<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwb.takeout.dao.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.qwb.takeout.model.entity.ProductCategory">
    <constructor>
      <idArg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="category_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
    <select id="findAllCategory" resultMap="BaseResultMap">
      SELECT * from product_category
    </select>

</mapper>