<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwb.takeout.dao.SellerInfoMapper">
  <resultMap id="BaseResultMap" type="com.qwb.takeout.model.entity.SellerInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="sellerEntityMap" type="com.qwb.takeout.model.entity.SellerInfo">
  </resultMap>

  <select id="findAllList" resultMap="BaseResultMap">
    SELECT * FROM seller_info
  </select>

  <select id="findOneById" resultMap="BaseResultMap">
    select * FROM seller_info where id = #{sellerId}
  </select>


  <insert id="addSeller">
  <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
    SELECT LAST_INSERT_ID()
  </selectKey>
    insert into seller_info (username,password,openid) value(#{username},#{password},#{openid})
  </insert>

  <update id="updateSeller" parameterType="com.qwb.takeout.model.entity.SellerInfo">
    update seller_info
    <set>
      <if test="username != null">username = #{username},</if>
      <if test="password != null">password = #{password},</if>
      <if test="openid != null">openid = #{openid},</if>
    </set>
    where id = #{id}
  </update>

  <delete id="deleteSellerById">
    delete from seller_info where id =#{id}
  </delete>

</mapper>